

<div class="container mt-5">
	<div class="row">
		<div class="col-6">
			<h2 class="recipes-show-title" style="font-weight: bold; text-align: center;">
				<%= @recipe.title %>の詳細レシピ
			</h2>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">
						<%= @recipe.title %>
					</h5>

					<div class="card-image">
						<% if @recipe.recipe_images.present? %>
						<% @recipe.recipe_images.each do |recipe_image| %>
						<%= attachment_image_tag recipe_image, :image, :fill, 600, 550, format: 'jpeg', class:"img-fluid mx-auto"  %>
						<% end %>
						<% end %>
					</div>

					<p class="card-text">
						<%= simple_format @recipe.body %>
					</p>

					<% unless @recipe.user == current_user %>
					<p class="recipe-contributor">
						<%= link_to "このレシピの投稿者を見る", user_path(@recipe.user.id), class: "btn btn-success" %>
					</p>
					<% end %>

					<p class="card-text">
						<small class="text-muted">
							投稿日：<%= @recipe.created_at.strftime("%Y-%m-%d") %>
						</small>
					</p>

					<% if @recipe.user == current_user %>
					<!-- 記事を投稿した人とログインしている人が同じならば編集と削除を表示させる -->
					<div class="recipe-button" style="text-align: right;">
						<%= link_to "編集", edit_recipe_path(@recipe), class: "btn btn-success" %>
						<%= link_to "削除", recipe_path(@recipe), method: :delete, class: "btn btn-danger", data: {confirm: "本当に削除しますか？"} %>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
