

<div class="container mt-5">
	<div class="row">
		<div class="col-6">
			<h2 class="recipes-show-title" style="font-weight: bold; text-align: center;">
				<%= @recipe.title %>の詳細レシピ
			</h2>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">
						<%= @recipe.title %>
					</h5>

					<div class="card-image">
						<% if @recipe.recipe_images.present? %>
						<% @recipe.recipe_images.each do |recipe_image| %>
						<%= attachment_image_tag recipe_image, :image, :fill, 600, 550, format: 'jpeg', class:"img-fluid mx-auto"  %>
						<% end %>
						<% end %>
					</div>

					<p class="card-text">
						<%= simple_format @recipe.body %>
					</p>

					<% unless @recipe.user == current_user %>
					<p class="recipe-contributor">
						<%= link_to "このレシピの投稿者を見る", user_path(@recipe.user.id), class: "btn btn-success" %>
					</p>
					<% end %>

					<p class="card-text">
						<small class="text-muted">
							投稿日：<%= @recipe.created_at.strftime("%Y-%m-%d") %>
						</small>
					</p>

					<% if @recipe.user == current_user %>
					<!-- 記事を投稿した人とログインしている人が同じならば編集と削除を表示させる -->
					<div class="recipe-button" style="text-align: right;">
						<%= link_to "編集", edit_recipe_path(@recipe), class: "btn btn-success" %>
						<%= link_to "削除", recipe_path(@recipe), method: :delete, class: "btn btn-danger", data: {confirm: "本当に削除しますか？"} %>
					</div>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="col-6">
				<div class="comment-form">
					<h2 class="comment">コメント</h2>
					<!--引数の順番は親から子へ-->
					<%= form_for ([@recipe,@comment]) do |f| %>

					<div class="form-group">
						<%= f.text_area :content, class: "form-control", placeholder: "コメントしてみよう" %>
					</div>

					<div class="comment-button" style="margin-bottom: 35px">
						<%= f.submit "コメントする", class: "btn btn-info btn-block" %>
					</div>
					<%end%>
				</div>

				<h2 class="comment-index">コメント一覧</h2>

				<% @comments.each do |comment| %>

				<div class="card">
					<h5 class="card-header">
						<div class="comment-user-profile-image" style="border-radius: 50%;">
							<%= attachment_image_tag comment.user, :profile_image, :fill, 50, 50, fallback: "no-image.png", size: "50x50", class:"img-fluid" %>
							<%= link_to "#{comment.user.name}さん", user_path(comment.user.id) %>
							<time datetime="<%= comment.created_at %>" style="font-size: 13px;  margin-left: 222px">
								<%= time_ago_in_words(comment.created_at) %>前
							</time>
						</div>
					</h5>

					<div class="card-body">
						<div class="card-text">
							<%= simple_format comment.content %>

							<% if comment.user == current_user %>
							<div class="card-button" style="text-align: right;">
								<%= link_to recipe_comment_path(comment), method: :delete, data: {confirm:"本当に削除しますか？"} do %>
								<span class="fa fa-trash trash-btn"></span>
								<% end %>
							</div>
							<% end %>
						</div>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
